.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-2);

    display: flex;
    justify-content: space-between;
    align-items: center; //center vertically
}

.content { //flex container
    display: flex;
}

.sidebar { //flex item
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%; //grow, shrink, basis

    display: flex;
    flex-direction: column; //changes main axis to y
    justify-content: space-between; //moves legal down
}

.hotel-view { //flex item
    background-color: #fff;

    flex: 1; //grows as much as it can
}

.detail {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
}

.description {
    //font-size: 1.4rem;
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;
    transition: all .8s;

    &:hover {
        box-shadow: var(--shadow-medium);
    }
}

.user-reviews {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}   